physik421*/physik421-??.pdf
physik421*/physik421-*.aux
physik421*/physik421-*.bcf
physik421*/physik421-*.blg
physik421*/physik421-*.fdb*
physik421*/physik421-*.fls
physik421*/physik421-*.log
physik421*/physik421-*.out
physik421*/physik421-*.run*
physik421*/physik421-*.tex.*
